{% extends 'admin_base.html' %}

{% block title %}
    사용자 밴
{% endblock %}

{% block main_content %}
<form action="/admin/user_ban/" method="post">
    {% csrf_token %}
    {% for field in form %}
	<div class="row">
		<div class="input-field col s12">
			{{ field }}
			<label for="{{ field.id_for_label }}">{{ field.label }}</label>
		</div>
	</div>
    {% endfor %}
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
		<i class="material-icons right">send</i>
	</button>
</form>
<div>
    {% for ban in user_ban %}
    <div>
        <p>{{ ban.user_id }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}