<!DOCTYPE html>
{% load static %}

<html>
<head lang="en">
    <meta charset="UTF-8">
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bower_components/jquery.countdown/dist/jquery.countdown.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <main>
        <div class="container content-row">
            <h1>{% block title %}{% endblock %}</h1>
            {% block main_content %}
            {% endblock %}
        </div>
    </main>
</body>
</html>