{% extends 'admin_base.html' %}

{% block title %}
    ADMIN
{% endblock %}

{% block main_content %}
<ul>
	<li><a href="{% url 'notice_insert' %}">공지 등록</a></li>
	<li><a href="{% url 'user_ban' %}">사용자 밴</a></li>
	<li><a href="{% url 'time_insert' %}">시간 등록</a></li>
	<li><a href="{% url 'problem_insert' %}">문제 등록</a></li>
</ul>
{% endblock %}