main, footer, header {
    padding-left: 240px;
}
@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0; 
    } 
}

#logo > img {
    width:100%;
    height:100%;
}

#logo {
    min-height: 50px;
    background:url('/static/res/HANSEI.jpg') no-repeat 100% 100%;
}

#banner-nav {
    background-color:#EE6E73;
    color:white;
}
.main-container {
    height:100%;
}

footer {
    margin-top : 0px !important;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    background-color: #FAFAFA;
}

.nav-wrapper > p {
    margin: 0 20px;
    font-size: 25px;
}

.content-row {
    margin-top: 30px;
    margin-bottom: 30px;
}

.card .card-action p {
    color: #FFAB40;
    margin:0;
    margin-right:20px;
    text-transform: :uppercase;
}

.login-holder {
    display:none;
    z-index:20;
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;

    background:rgba(0, 0, 0, 0.32) none repeat scroll 0% 0%;
}

.login-wrapper {
    top:10px;
    left:20px;
}

#clock > span {
    font-size:30px;
    margin-right:10px;
    margin-left:10px;
}
@-webkit-keyframes login_transition {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes login_transition {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@-o-keyframes login_transition {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes login_transition {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}