<!DOCTYPE html>
{% load static %}

<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bower_components/jquery.countdown/dist/jquery.countdown.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css" media="screen,projection"/>
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script>
    $(document).ready(function() {
        $('.button-collapse').sideNav();
        $('#test').click(function() {
            $('.login-holder').css('display', 'block');
            $('.login-holder').css('animation', 'login_transition 1s 1');
  //             -webkit-animation: NAME-YOUR-ANIMATION 5s infinite; /* Safari 4+ */
  // -moz-animation:    NAME-YOUR-ANIMATION 5s infinite;  Fx 5+ 
  // -o-animation:      NAME-YOUR-ANIMATION 5s infinite; /* Opera 12+ */
  // animation:         NAME-YOUR-ANIMATION 5s infinite; /* IE 10+, Fx 29+ */
        });
    });
    </script>
    {% block script_load %}
    {% endblock %}
</head>
<body>
    <header>
        <nav class="top-nav">
            <div class="container">
                <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only">
                    <i class="mdi-navigation-menu"></i>
                </a>
            </div>
            <div class="nav-wrapper">
                <p class="left">{% block title %}{% endblock %}</p>
            </div>
        </nav>
        <ul id="nav-mobile" class="side-nav fixed">
            <li id="logo" class="logo no-padding" style="margin-top:15px;margin-bottom:15px;"></li>
            <li class="bold"><a href="{% url 'index' %}" class="waves-effect waves-teal">Home</a></li>
            <li class="bold"><a href="{% url 'about' %}" class="waves-effect waves-teal">About</a></li>
            <li class="bold"><a href="{% url 'notice' %}" class="waves-effect waves-teal">Notice</a></li>
            <li class="bold"><a href="{% url 'problem_list' %}" class="waves-effect waves-teal">Problem</a></li>
            <li class="bold"><a href="{% url 'register' %}" class="waves-effect waves-teal">Register</a></li>
            {% if user.is_authenticated %}
            <li class="bold"><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li class="bold"><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </header>

    <main>
        <div class="container content-row">
            {% block main_content %}
            {% endblock %}
        </div>
    </main>

    <footer class="page-footer">
        <div class="container">
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2014-2015 NewHeart, All rights reserved.
            </div>
        </div>
    </footer>
</body>
</html>
