<!DOCTYPE html>
{% load static %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bower_components/jquery.countdown/dist/jquery.countdown.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css" media="screen,projection"/>
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script>
    $(document).ready(function() {
        $('.button-collapse').sideNav();
        $('#test').click(function() {
            $('.login-holder').css('display', 'block');
            $('.login-holder').css('animation', 'login_transition 1s 1');
  //             -webkit-animation: NAME-YOUR-ANIMATION 5s infinite; /* Safari 4+ */
  // -moz-animation:    NAME-YOUR-ANIMATION 5s infinite;  Fx 5+ 
  // -o-animation:      NAME-YOUR-ANIMATION 5s infinite; /* Opera 12+ */
  // animation:         NAME-YOUR-ANIMATION 5s infinite; /* IE 10+, Fx 29+ */
        });
    });
    </script>
</head>
<body>
    <header>
    	<nav class="top-nav">
	        <div class="container">
	            <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only">
	                <i class="mdi-navigation-menu"></i>
	            </a>
	        </div>
    	</nav>
        <ul id="nav-mobile" class="side-nav fixed">
            <li id="logo" class="logo no-padding" style="margin-top:15px;margin-bottom:15px;"></li>
            <li class="bold"><a href="{% url 'index' %}" class="waves-effect waves-teal">Home</a></li>
            <li class="bold"><a href="{% url 'about' %}" class="waves-effect waves-teal">About</a></li>
            <li class="bold"><a href="{% url 'notice' %}" class="waves-effect waves-teal">Notice</a></li>
            <li class="bold"><a href="{% url 'problem_list' %}" class="waves-effect waves-teal">Problem</a></li>
            <li class="bold"><a href="{% url 'register' %}" class="waves-effect waves-teal">Register</a></li>
            {% if user.is_authenticated %}
            <li class="bold"><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li class="bold"><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </header>
    <main>
        <div id="banner-nav" class="section">
            <div class="container">
                <div class="row center">
                    <h2 class="left header">한세사이버보안고등학교 해킹대회</p>
                </div>
                <div class="row right-align">
                	<a href="{% url 'register' %}" class="btn-large waves-effect waves-light">Register</a>
                	{% if user.is_authenticated %}
                	<a class="btn-large waves-effect waves-light" href="{% url 'logout' %}">LOGOUT</a>
                	{% else %}
                	<a class="btn-large waves-effect waves-light" href="{% url 'login' %}">LOGIN</a>
                	{% endif %}
                </div>
            </div>
        </div>
        <div class="container content-row">
        	<script>
        	$(document).ready(function() {
        		$('#clock').countdown('2020/10/10').on('update.countdown', function(event) {
        			var $this = $(this).html(event.strftime(''
        				+ '<span>%-w</span> week%!w '
        				+ '<span>%-d</span> day%!d '
        				+ '<span>%H</span> hr '
        				+ '<span>%M</span> min '
        				+ '<span>%S</span> sec'));
        		});	
        	});
        	</script>
        	<div class="row">
        		<div class="section grey lighten-2 center-align">
        			<h5>등록 기간</h5>
        			<div id="clock">
        			</div>
        		</div>
        	</div>
        	<div class="row">
        		<div class="section">
        			<h5 class="blue-text">대회 기간</h5>
        			<p>stuff</p>
        		</div>
        		<div class="divider"></div>
        	</div>
        	<div class="row">
        		<div class="col s4 center-align">
        			<img src="https://photos-2.dropbox.com/t/2/AAC_M5hWuXFF5STPkPdO_oV_anc9TM8QsnO7QRcYMVi_KQ/12/102454308/png/32x32/1/1436090400/0/2/iPad_128.png/CKSo7TAgASACIAMgBCAFIAYgBygC/snNJVXvnLH56-uFIroN1t0-5I5cNTIMnGyCqQX08MbQ?size=1600x1200&size_mode=2" alt="test"></img>
        			<h5>ttt</h5>
        			<p>
        				tttttt
        			</p>
        		</div>
        		<div class="col s4 center-align">
        			<img src="https://photos-2.dropbox.com/t/2/AAC_M5hWuXFF5STPkPdO_oV_anc9TM8QsnO7QRcYMVi_KQ/12/102454308/png/32x32/1/1436090400/0/2/iPad_128.png/CKSo7TAgASACIAMgBCAFIAYgBygC/snNJVXvnLH56-uFIroN1t0-5I5cNTIMnGyCqQX08MbQ?size=1600x1200&size_mode=2" alt="test"></img>
        			<h5>ttt</h5>
        			<p>
        				tttttt
        			</p>
        		</div>
        		<div class="col s4 center-align">
        			<img src="https://photos-2.dropbox.com/t/2/AAC_M5hWuXFF5STPkPdO_oV_anc9TM8QsnO7QRcYMVi_KQ/12/102454308/png/32x32/1/1436090400/0/2/iPad_128.png/CKSo7TAgASACIAMgBCAFIAYgBygC/snNJVXvnLH56-uFIroN1t0-5I5cNTIMnGyCqQX08MbQ?size=1600x1200&size_mode=2" alt="test"></img>
        			<h5>ttt</h5>
        			<p>
        				tttttt
        			</p>
        		</div>
        		<div class="divider"></div>
        	</div>
        	<div class="row">
        	</div>
        </div>
    </main>

    <footer class="page-footer">
        <div class="container">
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2014-2015 NewHeart, All rights reserved.
            </div>
        </div>
    </footer>
</body>
</html>
