{% extends 'base_layout.html' %}

{% block title %}
Login
{% endblock %}

{% block main_content %}
<form action="/login/" method="post">
	{% csrf_token %}
	<div class="row">
		<div class="col offset-s3 s6 center-align">
			<div class="login-wrapper">
				<div class="left-align">
					<h5>Login</h5>
				</div>
				<div class="row">
					<div class="input-field col s12">
						{{ form.username }}
						<label for="{{ form.username.id_for_label }}">ID</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						{{ form.password }}
						<label for="{{ form.password.id_for_label }}">PASSWORD</label>
					</div>
				</div>
				<div class="row right">
					<button class="btn waves-effect waves-light" type="submit" name="action">Login
						<i class="material-icons right">send</i>
					</button>
				</div>
			</div>
		</div>
	</div>
</form>
{% endblock %}
