{% extends 'base_layout.html' %}

{% block title %}
Notice
{% endblock %}

{% block main_content %}
{% for notice in notice_list %}
<div class="card hoverable">
	<div class="card-content">
		{{ notice.content }}
	</div>
	<div class="card-action">
	  <p>{{ notice.create_time }}</p>
	</div>
</div>
{% endfor %}
{% endblock %}
