{% extends 'base_layout.html' %}

{% block title %}
Problem
{% endblock %}

{% block main_content %}
{% for problem in problem_list %}
<div class="row">
	<div class="col s12 m6">
		<div class="card blue-grey darken-1">
			<div class="card-content white-text">
				<span class="card-title">{{ problem.title }}</span>
				<p>{{ problem.content }}</p>
			</div>
			<div class="card-action">
				<a href="{% url 'problem_list' %}/{{ problem.problem_number }}">detail</a>
			</div>
		</div>
	</div>
</div>
{% endfor %}
{% endblock %}
