{% extends 'base_layout.html' %}

{% block title %}
Register
{% endblock %}

{% block main_content %}
<script type="text/javascript">
$(document).ready(function() {
	$('.datepicker').pickadate({
		selectMonths: true, // Creates a dropdown to control month
		selectYears: 15, // Creates a dropdown of 15 years to control year
		format: 'mm/dd/yyyy',
	});	
});
</script>
<form action="/register/" method="post">
	{% csrf_token %}
	{% for field in form %}
	<div class="row">
		<div class="input-field col s12" {% if field.errors %} class="row blink" {% endif %}>
			{{ field }}
			<label for="{{ field.id_for_label }}">{{ field.label }}</label>
		</div>
	</div>
	{% endfor %}
	<button class="btn waves-effect waves-light" type="submit" name="action">Submit
		<i class="material-icons right">send</i>
	</button>
</form>
{% endblock %}
